<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <span>이름: <%= userInfo.user_name %></span>
    </div>
    <div>
        <span>성별: <%= userInfo.user_gender %></span>
    </div>
    <div>
        <span>생년월일: <%= userInfo.user_date_year %>년</span>
        <span><%= userInfo.user_date_month %>년</span>
        <span><%= userInfo.user_date_day %>년</span>
    </div>
    <div>
        <span>관심사: <%= userInfo.user_interest %></span>
    </div>
    <div>
        <span>좋아하는 색: <%= userInfo.user_color %></span>
    </div>
    <div>
        <span>좋아하는 숫자: <%= userInfo.user_number %></span>
    </div>
</body>
</html>